{% extends "event/base.html" %}

{% block content %}
<h1>Welcome to our website</h1>

<article class="media content-section">

  <div class="" style="color: black !important;">
    <div style="color: black !important;">
      Our website gives solution to all events in Israel.<br />
      You can view our top 5 trending events, our recommendations and all events that are available.<br />
      You will see announcements of all events that have been cancelled or posteponsted.<br />
      And by creating account, you can add events to your list to keep track of them.
    </div>
  </div>
</article>
{% endblock content %}